fastapi
uvicorn[standard]
requests
pydantic
pydantic-settings
python-dotenv
python-dateutil
google-genai
email-validator
SQLAlchemy
psycopg2-binary

python-multipart
python-jose[cryptography]
passlib[bcrypt]<4.1
alembic
bcrypt<4.1

starlette