fastapi
uvicorn[standard]
requests
pydantic
pydantic-settings
python-dotenv
python-dateutil
google-genai

SQLAlchemy
psycopg2-binary
psycopg2-binary

python-jose[cryptography]
passlib[bcrypt]<4.1
alembic
bcrypt<4.1

starlette